<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    </head>
    <body>
        <div class="ui inverted menu">
            <div class="ui container">
                <div class="header item"><i class="book icon"></i>Review Central</div>
                <a href="/" class="red item active">Home</a>
                <a href="/books" class="blue item active">Books</a>
                <a href="/movies" class="violet item active">Movies</a>
                <a href="/tv" class="green item active">TV Series</a>
                <a href="/select" class="orange item active">Add a Review</a>
                <a href="/login" class="item">Login</a>
                <a href="/logout" class="item">Logout</a>
                
            </div>
        </div> 
    