<%include partials/header1.ejs%>
 <div class="container">
 <div class="ui three column grid">
  <div class="column">
    <div class="ui card">
        <a class="image" href="/searchb">
        <img src="http://kindofletter.site/wp-content/uploads/2018/02/all-i-need-is-coffee-and-books-tumblr-pertaining-to-books-tumblr.jpg">
        </a>
        <div class="content">
        <a class="header" href="/searchb">Books</a>
        <div class="meta">
            <a>Burned the midnight candle to overcome your curiosity? Write a few words about it</a>
        </div>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card">
        <a class="image" href="/searchm">
        <img src="https://teenlife.s3.amazonaws.com/media/uploads/blogs/lights-camera-fafsa/Fafsa%201.png">
        </a>
        <div class="content">
        <a class="header" href="/searchm">Movies</a>
        <div class="meta">
            <a>Watched a rom-com or an action thriller? Throw a mention!</a>
        </div>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card">
        <a class="image" href="/searchm">
        <img src="https://i.pinimg.com/originals/97/7e/d0/977ed015b138a691639ccbd646f9660d.jpg">
        </a>
        <div class="content">
        <a class="header" href="/searchm">TV Series</a>
        <div class="meta">
            <a>Binged a new series? Write about it!</a>
        </div>
    </div>
    </div>
  </div>
  </div>
 </div>

<%include partials/footer.ejs%>