<% include partials/header1.ejs %>

<div class="ui main text container">
<div class="ui ordered steps">
  <div class="completed step">
    <div class="content">
      <div class="title">Search</div>
      <div class="description">Search the book</div>
    </div>
  </div>
  <div class="completed step">
    <div class="content">
      <div class="title">Select</div>
      <div class="description">Select the book</div>
    </div>
  </div>
  <div class="active step">
    <div class="content">
      <div class="title">Write</div>
      <div class="description">Write the review</div>
    </div>
  </div>
</div>
<p>
    <% var item=data.items[0]; %>
    <h2>Selected book is: <%= item.volumeInfo.title%></h2>
</p>

<div class="ui main text container segment">
    <div class="ui header">Review</div>
    <form class="ui form" action="/finalb" method="POST" autocomplete="off">
        <div class="field">
            <label>Title</label>
            <input type="text" name="title" placeholder="Title">
        </div>
        <div class="field">
            <label>Rating</label>
            <input type="text" name="rating" placeholder="Rating(out of 5)">
        </div>
        <div class="field">
            <label>Review</label>
            <textarea name="content" placeholder="Write your review in 100-200 words"></textarea>
        </div>
        <input class="ui violet big basic button" type="submit">
    </form>
</div>
</div>

<% include partials/footer.ejs %>